<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.trs.commodity.dao.CommTradeFlowDictMapper" >
  <resultMap id="BaseResultMap" type="com.trs.commodity.model.CommTradeFlowDict" >
    <id column="trade_flow_code" property="tradeFlowCode" jdbcType="CHAR" />
    <result column="trade_flow_name" property="tradeFlowName" jdbcType="VARCHAR" />
    <result column="trade_flow_chn_name" property="tradeFlowChnName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    trade_flow_code, trade_flow_name, trade_flow_chn_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from trade_flow_dict
    where trade_flow_code = #{tradeFlowCode,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from trade_flow_dict
    where trade_flow_code = #{tradeFlowCode,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.trs.commodity.model.CommTradeFlowDict" >
    insert into trade_flow_dict (trade_flow_code, trade_flow_name, trade_flow_chn_name
      )
    values (#{tradeFlowCode,jdbcType=CHAR}, #{tradeFlowName,jdbcType=VARCHAR}, #{tradeFlowChnName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.trs.commodity.model.CommTradeFlowDict" >
    insert into trade_flow_dict
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tradeFlowCode != null" >
        trade_flow_code,
      </if>
      <if test="tradeFlowName != null" >
        trade_flow_name,
      </if>
      <if test="tradeFlowChnName != null" >
        trade_flow_chn_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tradeFlowCode != null" >
        #{tradeFlowCode,jdbcType=CHAR},
      </if>
      <if test="tradeFlowName != null" >
        #{tradeFlowName,jdbcType=VARCHAR},
      </if>
      <if test="tradeFlowChnName != null" >
        #{tradeFlowChnName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.trs.commodity.model.CommTradeFlowDict" >
    update trade_flow_dict
    <set >
      <if test="tradeFlowName != null" >
        trade_flow_name = #{tradeFlowName,jdbcType=VARCHAR},
      </if>
      <if test="tradeFlowChnName != null" >
        trade_flow_chn_name = #{tradeFlowChnName,jdbcType=VARCHAR},
      </if>
    </set>
    where trade_flow_code = #{tradeFlowCode,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.trs.commodity.model.CommTradeFlowDict" >
    update trade_flow_dict
    set trade_flow_name = #{tradeFlowName,jdbcType=VARCHAR},
      trade_flow_chn_name = #{tradeFlowChnName,jdbcType=VARCHAR}
    where trade_flow_code = #{tradeFlowCode,jdbcType=CHAR}
  </update>
</mapper>