<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.trs.commodity.dao.CountryDictMapper" >
  <resultMap id="BaseResultMap" type="com.trs.commodity.model.CountryDict" >
    <id column="country_code" property="countryCode" jdbcType="VARCHAR" />
    <result column="country_name" property="countryName" jdbcType="VARCHAR" />
    <result column="country_chn_name" property="countryChnName" jdbcType="VARCHAR" />
    <result column="area_code" property="areaCode" jdbcType="CHAR" />
    <result column="area" property="area" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    country_code, country_name, country_chn_name, area_code, area
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from country_dict
    where country_code = #{countryCode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from country_dict
    where country_code = #{countryCode,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.trs.commodity.model.CountryDict" >
    insert into country_dict (country_code, country_name, country_chn_name, 
      area_code, area)
    values (#{countryCode,jdbcType=VARCHAR}, #{countryName,jdbcType=VARCHAR}, #{countryChnName,jdbcType=VARCHAR}, 
      #{areaCode,jdbcType=CHAR}, #{area,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.trs.commodity.model.CountryDict" >
    insert into country_dict
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="countryCode != null" >
        country_code,
      </if>
      <if test="countryName != null" >
        country_name,
      </if>
      <if test="countryChnName != null" >
        country_chn_name,
      </if>
      <if test="areaCode != null" >
        area_code,
      </if>
      <if test="area != null" >
        area,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="countryCode != null" >
        #{countryCode,jdbcType=VARCHAR},
      </if>
      <if test="countryName != null" >
        #{countryName,jdbcType=VARCHAR},
      </if>
      <if test="countryChnName != null" >
        #{countryChnName,jdbcType=VARCHAR},
      </if>
      <if test="areaCode != null" >
        #{areaCode,jdbcType=CHAR},
      </if>
      <if test="area != null" >
        #{area,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.trs.commodity.model.CountryDict" >
    update country_dict
    <set >
      <if test="countryName != null" >
        country_name = #{countryName,jdbcType=VARCHAR},
      </if>
      <if test="countryChnName != null" >
        country_chn_name = #{countryChnName,jdbcType=VARCHAR},
      </if>
      <if test="areaCode != null" >
        area_code = #{areaCode,jdbcType=CHAR},
      </if>
      <if test="area != null" >
        area = #{area,jdbcType=VARCHAR},
      </if>
    </set>
    where country_code = #{countryCode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.trs.commodity.model.CountryDict" >
    update country_dict
    set country_name = #{countryName,jdbcType=VARCHAR},
      country_chn_name = #{countryChnName,jdbcType=VARCHAR},
      area_code = #{areaCode,jdbcType=CHAR},
      area = #{area,jdbcType=VARCHAR}
    where country_code = #{countryCode,jdbcType=VARCHAR}
  </update>


</mapper>